<%- include("includes/header.ejs") %>

    <body>
        <div class="container">
            <h1 class="text-center my-3">CRUD</h1>
            <a href="/user/create" class="btn btn-primary mb-3">Create New User</a>

             <!-- Display flash messages -->
             <% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>

                <div class="alert alert-success">
                    <%= success_msg %>
                </div>
            <% } %>
            <% if (typeof error_msg  !== 'undefined' && error_msg .length > 0) { %>

                <div class="alert alert-danger">
                    <%= error_msg %>
                </div>
            <% } %>

            <h3 class="text-center my-3">All Users ( <%= users.length %> )</h3>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(u=> {%>

                                <tr>
                                    <th scope="row"><%= u.id %></th>
                                    <td>@<%= u.name %></td>
                                    <td><%= u.email %></td>
                                    <td class="d-flex">
                                        <a href="/user/<%= u.id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                                        <!-- <a href="/user/<%= u.id %>/delete" class="btn btn-sm btn-danger">Delete</a> -->
                                         <form action="/user/<%= u.id %>/delete?_method=DELETE" method="post" onsubmit="return confirm('Do you want to delete this user?')">
                                            <button type="submit" class="btn btn-sm btn-danger" >Delete</button>
                                         </form>
                                    </td>
                                </tr>
                                <% }); %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

    </html>